* {
  margin: 0;
  padding: 0;
}

#logo {
  max-width: 70px;
}

#banner_elektrotehnika {
  background-image: url(Images/Elektrotehnika.png);
}

.banner {
  display: flex;
  flex-direction: column;
  padding-top: 220px;
  padding-bottom: 220px;
}

#naslov_elektrohenika {
  background-color: #e63947a4;
}

.naslov {
  font-size: 5vw;
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-align: center;
}

#navigacija_elektrotehnika {
  background-color: #E63946;
}

.navigacija_smjerovi ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigacija_smjerovi li {
  text-align: center;
  margin-bottom: 10px;
}

.navigacija_smjerovi a {
  color: #000;
  text-decoration: none;
  font-size: 80px;
}
.navigacija_smjerovi p{
  text-align: center;
  font-size: 18px;
}
.navigacija_smjerovi a:hover {
  color: white;
}
.podnaslovi{
  color:#E63946;
  text-align: center;
  margin: 50px auto;
}

.obavijesti article{
  padding: 20px;
  margin: 10px auto;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #e63947a4;
  max-width: 540px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.obavijesti article:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.obavijesti img{
  max-width: 100%;

}

@media screen and (max-width: 780px) {
  .banner {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .obavijesti >img{
    width: 100%;
  }
  .obavijesti article{
    max-width: 90%;
  }
}
