* {
  margin: 0;
  padding: 0;
}
.elektrotehnika{
  background-color: #F6CECE;
}
#logo {
  max-width: 70px;
}

#banner_elektrotehnika {
  background-image: url(Images/Elektrotehnika.png);
}
.navbar {
  background-color: #e63947a4;
}
.banner {
  display: flex;
  flex-direction: column;
  padding-top: 220px;
  padding-bottom: 220px;
}

#naslov_elektrohenika {
  background-color: #e63947a4;
}

.naslov {
  font-size: 5vw;
  padding: 10px;
  color: white;
  border-radius: 20px;
  text-align: center;
}

#navigacija_elektrotehnika {
  background-color: #E63946;
}

.navigacija_smjerovi ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.navigacija_smjerovi li {
  text-align: center;
  margin-bottom: 10px;
}

.navigacija_smjerovi a {
  color: #000;
  text-decoration: none;
  font-size: 60px;
  transition: color 0.3s ease;
}

.navigacija_smjerovi p{
  text-align: center;
  font-size: 18px;
}
.navigacija_smjerovi a:hover {
  color: white;
}
.podnaslovi{
  color:#E63946;
  text-align: center;
  margin: 50px auto;
}
section {
  margin: 20px auto;
}

.obavijesti article{
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  background-color: #e63947a4;
  max-width: 420px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}
.obavijesti article:hover{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: scale(1.1);
}
.obavijesti img{
  max-width: 100%;
  width:400px
}
.smjerovi{
  margin: 20px auto;
  padding: 20px;
  text-align: center;
}
.nastavni_plan_program a{
 text-decoration: none;
 color:#000;
 padding: 5px;
 border-radius: 10px;
 padding: 10px;
}
.nastavni_plan_program ul{
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.nastavni_plan_program li{
  margin: 20px;
  padding: 10px;
}
.neparni_ele{
  background-color: #E63946;
}
.parni_ele{
  background-color: #e63947a4;
}
.centered-table {
  margin: 20px auto;
  border-collapse: collapse; 
}

.centered-table td {
  border: 1px solid #000;
  padding: 10px 60px; 
  text-align: center; 
}
@media screen and (max-width: 780px) {
  .banner {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .obavijesti >img{
    width: 100%;
    }
    .obavijesti article:hover{
      box-shadow: none;
      transform: none;
    }
}
