.untitled-page.root {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 2160px;
  min-height: 2160px;
  background-color: white;
  overflow: hidden;
}
.untitled-page .flex_col {
  position: absolute;
  top: 152px;
  right: 40px;
  bottom: 1433px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 2px 0px;
  width: 1840px;
  height: 575px;
}
.untitled-page .wrapper7 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 5.22%;
  width: 255px;
}
.untitled-page .wrapper71 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0px;
  width: 255px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00478d;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
.untitled-page .wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.untitled-page .group {
  position: relative;
  display: flex;
  flex-direction: column;
}
.untitled-page .box {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.untitled-page .flex_row {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
  margin: 10px auto 9px;
  width: 89.13%;
}
.untitled-page .box1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 360px;
  min-width: 0px;
  min-height: 500px;
  background: var(--src) center center/100% 100% no-repeat;
  background-color: white;
  overflow: hidden;
}
.untitled-page .wrapper3 {
  position: absolute;
  top: 223px;
  right: 0px;
  display: flex;
  width: 60px;
  height: 75px;
  padding: 15px 20px 15px 20px;
  overflow: hidden;
}
.untitled-page .line {
  position: absolute;
  top: 117px;
  right: 40px;
  bottom: 2042px;
  left: 40px;
  width: 1840px;
  height: 1px;
  background-color: #00447b;
}
.untitled-page .flex_row1 {
  position: absolute;
  top: 0px;
  right: 101px;
  bottom: 2053px;
  left: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px 10px;
  width: 1699px;
  height: 107px;
}
.untitled-page .wrapper4 {
  position: relative;
  display: flex;
  width: 139px;
  min-width: 0px;
  padding: 10px 10px 10px 10px;
}
.untitled-page .wrapper41 {
  position: relative;
  width: 120px;
  height: 87px;
}
.untitled-page .box2 {
  position: relative;
  display: flex;
  width: 120px;
  min-width: 0px;
  border-color: #00447b;
  border-style: solid;
  border-width: 5px 0px 0px 0px;
  overflow: hidden;
}
.untitled-page .wrapper5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 5px;
  width: 110px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00447b;
  text-align: center;
  letter-spacing: 2.2px;
}
.untitled-page .wrapper51 {
  position: relative;
  display: flex;
  width: 120px;
  min-width: 0px;
  overflow: hidden;
}
.untitled-page .wrapper52 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 29px 15px 30px;
  width: 61px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00447b;
  text-align: center;
  letter-spacing: 2.2px;
}
.untitled-page .wrapper53 {
  position: relative;
  display: flex;
  width: 220px;
  min-width: 0px;
  overflow: hidden;
}
.untitled-page .wrapper54 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 18px;
  width: 184px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00447b;
  text-align: center;
  letter-spacing: 2.1px;
}
.untitled-page .wrapper55 {
  position: relative;
  display: flex;
  width: 290px;
  min-width: 0px;
  overflow: hidden;
}
.untitled-page .wrapper56 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 6px 15px 7px;
  width: 277px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00447b;
  text-align: center;
  letter-spacing: 2.1px;
}
.untitled-page .wrapper57 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 15px 15px 16px;
  width: 89px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00447b;
  text-align: center;
  letter-spacing: 2.2px;
}
.untitled-page .wrapper58 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 13px 15px 14px;
  width: 93px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00447b;
  text-align: center;
  letter-spacing: 1.79px;
}
.untitled-page .box3 {
  position: relative;
  display: flex;
  gap: 0px 12px;
  width: 295px;
  min-width: 0px;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  padding: 8px 16px 8px 12px;
  outline: 1px solid #e0e0e0;
  outline-offset: -1px;
}
.untitled-page .image2 {
  position: relative;
  width: 24px;
  height: 24px;
}
.untitled-page .highlight1 {
  position: relative;
  margin: 0px 178px 0px 0px;
  width: 53px;
  height: 24px;
  font: 400 16px/1.5 "Inter", Helvetica, Arial, serif;
  color: #828282;
}
.untitled-page .flex_col1 {
  position: absolute;
  top: 728px;
  right: 132px;
  bottom: 847px;
  left: 130px;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  width: 1658px;
  height: 585px;
}
.untitled-page .wrapper72 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 6px;
  width: 255px;
  min-height: 55px;
}
.untitled-page .wrapper73 {
  position: absolute;
  top: 12px;
  right: 3px;
  bottom: 13px;
  left: -3px;
  display: flex;
  align-items: center;
  width: 255px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00478d;
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
.untitled-page .flex_row2 {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 0px 10px;
}
.untitled-page .content_box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 810px;
  min-width: 0px;
  background-color: white;
  padding: 10px 10px 162px 10px;
}
.untitled-page .image5 {
  position: relative;
  width: 100%;
  height: 100%;
}
.untitled-page .flex_col2 {
  position: absolute;
  top: 1302px;
  right: 137px;
  bottom: 487px;
  left: 133px;
  display: flex;
  flex-direction: column;
  gap: 10px 0px;
  width: 1650px;
  height: 371px;
}
.untitled-page .wrapper8 {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0px 0px 0px 3px;
  width: 255px;
}
.untitled-page .wrapper81 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 13px 0px;
  width: 255px;
  height: 30px;
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: #00477b;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2470588235);
}
.untitled-page .flex_row3 {
  position: relative;
  display: flex;
  gap: 0px 10px;
}
.untitled-page .content_box2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 405px;
  min-width: 0px;
  background-color: white;
}
.untitled-page .wrapper9 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 5px;
}
.untitled-page .wrapper91 {
  position: relative;
  width: 395px;
  height: 295px;
}
.untitled-page .desc_box {
  position: absolute;
  top: 1152px;
  right: 142px;
  bottom: 897px;
  left: 988px;
  width: 790px;
  height: 111px;
}
.untitled-page .desc {
  font: 400 12px/1.5 "Poppins", Helvetica, Arial, serif;
  color: black;
  letter-spacing: 0.6px;
}
.untitled-page .desc_span0 {
  font: 1em/1.5 "Poppins", Helvetica, Arial, serif;
}
.untitled-page .desc_span1 {
  font: 1.1666666667em/1.5 "Poppins", Helvetica, Arial, serif;
  letter-spacing: 0.7px;
}
.untitled-page .desc_box1 {
  position: absolute;
  top: 1152px;
  right: 990px;
  bottom: 897px;
  left: 140px;
  width: 790px;
  height: 111px;
}
.untitled-page .wrapper10 {
  position: absolute;
  top: 1760px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  width: 1920px;
  height: 400px;
  background: var(--src) center center/100% 100% no-repeat;
  overflow: hidden;
}
.untitled-page .image6 {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  width: 1920px;
  height: 400px;
}
.untitled-page .wrapper11 {
  position: absolute;
  top: 35px;
  right: 1120px;
  bottom: 35px;
  left: 40px;
  display: flex;
  flex-direction: column;
  width: 760px;
  height: 330px;
  overflow: hidden;
}
.untitled-page .wrapper111_box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 760px;
  height: 330px;
}
.untitled-page .wrapper111 {
  font: 600 20px/1.5 "Poppins", Helvetica, Arial, serif;
  color: white;
  text-align: center;
  letter-spacing: 1px;
}
.untitled-page .wrapper111_span0 {
  font: 600 1em/1.5 "Poppins", Helvetica, Arial, serif;
}
.untitled-page .wrapper111_span1 {
  font: 600 0.8em/1.5 "Poppins", Helvetica, Arial, serif;
  letter-spacing: 0.8px;
}
.untitled-page .image7 {
  position: absolute;
  top: 40px;
  right: 360px;
  bottom: 40px;
  left: 1000px;
  width: 560px;
  height: 320px;
}
.untitled-page .image8 {
  position: absolute;
  top: 40px;
  right: 0px;
  bottom: 40px;
  left: 1280px;
  width: 640px;
  height: 320px;
}